{% set supported_locales = app_parameter('app.supported_locales') %}

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{{ path('home', {'_locale': app.request.locale}) }}">BBG Shop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/{{ app.request.locale|lower }}">{{ 'navigation.products'|trans }}</a>
            </li>
        </ul>

        {# Language Selector #}
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-globe"></i> {{ app.request.locale|upper }}
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
                    {% for locale in supported_locales %}
                        <li><a class="dropdown-item {% if app.request.locale == locale %}active{% endif %}" href="{{ path(app.request.get('_route', 'home'), {'_locale': locale}) }}">{{ ('language.' ~ locale)|trans }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>

        <ul class="navbar-nav ms-auto d-flex flex-row" id="auth-section">
            {% if app.user %}
                <li class="nav-item active mx-2">
                    <a class="nav-link" href="">{{ 'auth.hello'|trans }} <small class="text-secondary">({{ app.user.name }})</small></a>
                </li>
                <li class="nav-item active mx-2">
                    <a class="nav-link" onclick="handleLogout(event)">{{ 'auth.logout'|trans }}</a>
                </li>
            {% else %}
                <li class="nav-item active mx-2 d-flex">
                    <a class="nav-link" href="{{ path('app_registration', {'_locale': app.request.locale}) }}">{{ 'auth.register'|trans }}</a>
                    <a class="nav-link" href="{{ path('app_login', {'_locale': app.request.locale}) }}">{{ 'auth.login'|trans }}</a>
                </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav ms-auto d-flex flex-row" id="cart">
            <li class="nav-item active mx-2">
                <a title="cart" class="nav-link position-relative" href="#" data-bs-toggle="modal" data-bs-target="#cartModal">
                    <i class="bi bi-cart3"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger cart-count">0</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<script>
    function updateAuthUI(user) {
        const authSection = document.getElementById('auth-section');
        if (authSection && !authSection.querySelector('.fs-2')) {
            authSection.innerHTML = `
            <li class="nav-item active mx-2">
                    <a class="nav-link" href="">{{ 'auth.hello'|trans }} ${user.name}!</a>
            </li>
            <li class="nav-item active mx-2">
                <a class="nav-link" href="" onclick="handleLogout(event)">{{ 'auth.logout'|trans }}</a>
            </li>
        `;
        }
    }
</script>

{% include "cart.html.twig" %}
